@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-slate-900 antialiased;
  }
}

:root {
  --sube-orange: #ff8200;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-50;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full hover:bg-slate-300 transition-colors;
}

/* Animaciones Custom */
@keyframes trophy-jump {

  0%,
  80%,
  100% {
    transform: scale(1) translateY(0);
  }

  85% {
    transform: scale(1.1) translateY(-5px);
  }

  90% {
    transform: scale(1.2) translateY(-2px) rotate(-10deg);
  }

  95% {
    transform: scale(1.1) translateY(-5px) rotate(10deg);
  }
}

.animate-trophy-periodic {
  animation: trophy-jump 3s ease-in-out infinite;
}